@import "../../scss/index.scss";

.body-chart{
    
    justify-content: center;
.chart{
   
   border: 1px solid;
    margin-left: 10px;
}
.chart-pie{
    border: 1px solid;
    margin-left: 10px;
   

}
    
}
