@import "../../scss/index.scss";

.cabecera {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;

  .list {
    width: 40px;
    color: black;

    margin-top: 5px;
    margin-bottom: 5px;

    align-items: center;
  }
}

.table {
  font-size: small;
}
