@import "../../../../scss/index.scss";

.form-group {
  margin-top: 2px;

  .form-field {
    margin: 2px;
    border-radius: 5px;
    border: 1px solid $border-grey-light;

    .form-control-label:focus {
      border: none;
      outline: none;
    }
  }
}
